Options -Indexes
    RewriteEngine On
    RewriteCond %{SCRIPT_FILENAME} !-f
    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [NC,L]
    SetEnvIf Referer http://localhost/APIRestFulCrud/ localreferer
    <FilesMatch \.(jpg|jpeg|png|gif|css|json|gz|xml)$>
    Order deny,allow
    Deny from all
    Allow from env=localreferer
    </FilesMatch>
    ErrorDocument 403 /APIRestFulCrud/index.php
    