
.failMessage{
    background-color:#ff0000b7; width:100; padding:1%; text-align:center; color:white; font-size:18px;
    box-shadow: rgba(0, 0, 0, 0.744) 0px 5px 15px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;

    font-weight: 100;
    text-transform: uppercase;
    transition: ease-in-out 0.2s;
}
.failMessage:hover{
    background-color:#ff0000;}


    .successMessage{
        background-color:#1aff00b7; width:100; padding:1%; text-align:center; color:rgb(0, 0, 0); font-size:18px;
        box-shadow: rgba(0, 0, 0, 0.744) 0px 5px 15px;
        border-bottom: 1px solid #ffffff;
        border-top: 1px solid #ffffff;
    
        font-weight: 600;
        text-transform: uppercase;
        transition: ease-in-out 0.2s;
    }
    .successMessage:hover{
        background-color:#00ff00;
    }
    form{

        border:1px solid rgba(0, 0, 0, 0.237);
        padding: 2%;
        background-color: #d6f9fa;
    }
    label {
  
        border-radius: 10px;
        background-color: white;
        padding: 2%;
    }

    input {
        outline: none;
        font-size: 20px;
        margin-top: 15px;
        border-radius:4px;
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.384);

    }

  
    input[type=submit]{
        outline:0;
        border:0;
        border:1px solid rgba(0, 0, 0, 0.444);
        padding:2%;
        color:white;
        text-transform: uppercase;
        background-color: #457B9D;
        cursor:pointer;
    }
    h2{
        font-size: 30px;
        font-weight: 100;
        text-transform: uppercase;
        background-color: #457B9D;
        color:white;
        padding:1%;

    }